<div class="container box-shadow" (click)="onCardClick()">
  <section class="superior">
    <div class="date-time-container">
      <span class="time">7:00 PM</span> <!-- Ejemplo fijo o ajustable -->
    </div>
    <div class="titulo-container">
      <span>{{ pelicula?.titulo }}</span> <!-- Género de la película -->
    </div>
    <div class="genre-container">
      <span>{{ pelicula?.genero }}</span> <!-- Género de la película -->
    </div>
  </section>
  <section class="middle">
    <img src="Images/vengadores-6657516213bd5.jpg" alt="event image" />
  </section>
  <section class="bottom">
    <div class="description-container">
      <span>{{ pelicula?.sinopsis }}</span> <!-- Sinopsis de la película -->
    </div>
    <div class="place-container">
      <span>CC CINEMARK - LIMA</span> <!-- Lugar fijo o dinámico -->
    </div>
  </section>
</div>