<div class="container box-shadow">
    <section class="superior">
        <div class="date-time-container">
            <span class="date">16 de noviembre 2024</span>
            <span class="time">7:00 PM</span>
        </div>
        <div class="genre-container">
            <span>TERROR</span>
        </div>
    </section>
    <section class="middle">
        <img src="Images/vengadores-6657516213bd5.jpg" alt="event image" />
    </section>
    <section class="bottom">
        <div class="description-container">
            <span>Estreno de Marvel, no te lo pierdas</span>
        </div>
        <div class="place-container">
            <span>CC CINEMARK - LIMA</span>
        </div>
    </section>
</div>