footer {
    background-color: var(--secondary-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & img {
        width: 30px;

    }

    & span {
        color: white;
    }

}