<header class="box-shadow">
    <div class="container">
        <div class="logo-container">
            <img src="/Images/Logo Cinemark.png" alt="logo">
            <h1>CineMark</h1>
        </div>

        <div class="buttons-container">
            <button mat-button class="primary" routerLink="../login">INGRESAR</button>
            <button mat-button class="primary" routerLink="../register">REGISTRATE</button>
            <button mat-button class="primary" routerLink="../agregar-pelicula">Agregar Pelicula</button>

        </div>
    </div>
</header>