header {
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    height: 80px;

    & .container {
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo-container {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            & img {
                width: 50px;
                height: 50px;
            }

            & h1 {
                font-size: 16px;
                color: white;
                font-weight: 500;
                margin-bottom: 0;
            }
        }

        & .search-bar {
            width: 400px;
            height: 30px;
            border-radius: 8px;
            padding-left: 10px;
        }

        & .buttons-container {
            display: flex;
            gap: 20px;

            & button {
                padding: 10px 20px;
                border: none;
                /* Sin borde */
                border-radius: 50px;
                /* Bordes completamente redondeados */
                background-color: transparent;
                /* Fondo transparente */
                color: white;
                /* Color de texto blanco */
                font-size: 16px;
                cursor: pointer;
                transition: all 0.3s ease;
                outline: none;
                /* Evitar el borde por defecto al hacer foco */
            }

            /* Estilo para el botón primary */
            & .primary {
                background-color: var(--primary-color);
            }

            & .primary:hover {
                box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.6);
                /* Sombra azul al pasar el ratón */
                background-color: var(--primary-color);
                /* Mantiene el color */
            }

            /* Estilo para el botón accent */
            & .accent {
                background-color: var(--accent-color);
            }

            & .tercer {
                background-color: var(--tercer-color);
            }

            & .accent:hover {
                box-shadow: 0 0 10px 5px rgba(255, 87, 34, 0.6);
                /* Sombra anaranjada al pasar el ratón */
                background-color: var(--accent-color);
                /* Mantiene el color */
            }
        }
    }
}