<header class="box-shadow">
    <div class="container">
        <div class="logo-container">
            <img src="/Images/Logo Cinemark.png" alt="logo">
            <h1>CineMark</h1>
        </div>
        <div>
            <input class="search-bar" type="text" placeholder="Buscar">
        </div>
        <div class="buttons-container">
            <button mat-button class="primary">INGRESAR</button>
            <button mat-button class="accent">REGISTRATE</button>
        </div>
    </div>
</header>