<div class="home-container">
  <app-header></app-header>
  <div class="content-container">
    <section class="filter">
      <mat-form-field>
        <mat-label>Genero</mat-label>
        <mat-select>
          <mat-option value="">Terror</mat-option>
          <mat-option value="">Comedia</mat-option>
          <mat-option value="">Drama</mat-option>
        </mat-select>
      </mat-form-field>
      <span>Selecciona tu género favorito</span>
    </section>

    <section class="event-list">
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
      <app-event-card></app-event-card>
    </section>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of trabajadorList; let i = index">
          <td class="row">{{ item.idTrabajador }}</td>
          <td class="row">{{ item.nombre }}</td>
          <td class="row">{{ item.apellido }}</td>
          <td class="row">{{ item.usuario }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-footer></app-footer>
</div>
